*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    width: 100%;
    height: 100%;
}
#A{
    width:100% ;
    height: 100%;
    background-image: url(https://t4.ftcdn.net/jpg/05/47/97/81/360_F_547978128_vqEEUYBr1vcAwfRAqReZXTYtyawpgLcC.jpg);
    background-size: cover;
}
